body
{
	font-family: sans-serif;
	font-size: 1em;
	color: #333333;
}
.partiejaune
{
	background-color: #FFAB00;
}

.partiejaune
{
	display: flex;
	flex-direction: column;
	flex:0.6;
}
.partieblanche
{
	display: flex;
	flex-direction: column;
	flex:2;
	padding-left: 50px;
}
.contact, p
{
	text-align: left;
	padding-left: 15px;
	
}
.conteneur
{
	display: flex;
}
.partiejaune p
{
color: #333333;
}
.partiejaune h4
{
	border: 15px #333333 solid;
	background-color: #333333;
	color: #FFAB00;
	text-align: center;
	
}
.photoFred
{
	border: 4px #FF9333 solid;
	border-radius: 100px;
	width: 150px;
	display: block;
	margin:auto;
	margin-top: 25px;
}
.Aproposdemoi, p
{
	text-align: justify;
	padding-right: 20px;
	padding-left:20px;
}
.nomprenom
{
	font-size: 50px;
}
.FREDERIC
{
	color:#FFAB00;
}
.partieblanche p
{
	font-family: sans-serif;
}
.developpeur
{
	font-size: 25px;
	font-weight: bold;
}
.develo
{
	text-decoration: underline;
	text-decoration-style: 15px;
	text-decoration-color: #FFAB00;
}
.icones
{
	display: block;
	margin: auto;
	
}
i.fa-dumbbell
{
	
	font-size: 35px;
	margin: 10px 10px 25px 40px;
	padding: 5px;
	border: 2px solid ;
	border-radius: 100%;
}
i.fa-running
{
	font-size: 35px;
	margin: 10px 10px 25px 10px;
	padding: 5px 10px 5px 10px;
	border: 2px solid ;
	border-radius: 100%;

}
i.fa-fish
{
	font-size: 35px;
	margin: 10px 40px 25px 10px;
	padding: 5px;
	border: 2px solid ;
	border-radius: 100%;
}
#forma
{
	border:2px none black;
	display: flex;
	border-bottom: 2px #FFAB00 solid;
}
.logoforma
{
	border: 2px none black;
	font-size: 30px;
	margin: 20px 50px 25px 10px;
}
i.fa-graduation-cap
{
	color: #FFAB00;
}
.titreFormat
{
	border: 2px none black;
	font-size: 30px;
	margin: 20px 50px 25px 10px;
	font-weight: bold;
}
li
{
	list-style-type: none;
}
.blocLogo
{
	display: flex;
	border:3px solid black;
	flex-direction: row;
	align-content: space-around;
	height: 100px;

}
i.fa-dot-circle, .fa-circle
{	
	margin: 20px 20px 25px 10px;
	width: 50px
	height: 50px;
	border:3px solid blue;

}
.blocDate
{
	margin: 20px 50px 25px 10px;
	width: 200px;
	height: 50px;
	border:3px solid green;
	font-weight: bold;
	font-size: 15px;
}
.blocForma
{
	margin: 20px 10px 25px 10px;
	width: 700px;
	height: 70px;
	border:3px solid grey;
	overflow: scroll;
}
i.fa-dot-circle, .fa-circle
{
	color: #FFAB00;
	font-size: 12px;	
}
#expe
{
	border:2px none black;
	display: flex;
	border-bottom: 2px #FFAB00 solid;
}
.titreexpe
{
	border: 2px none black;
	font-size: 30px;
	margin: 20px 50px 25px 10px;
	font-weight: bold;
}
.fa-briefcase
{
	color: #FFAB00;
}
.logoexpe
{
	border: 2px none black;
	font-size: 30px;
	margin: 20px 50px 25px 10px;
}

